@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-margin: 150px;
}

.swiper-button-next {
    color: #F87060 !important
}

.swiper-button-prev {
    color: #F87060 !important
}

.swiper-pagination-bullet {
    height: 10px !important;
    width : 10px !important;
}

.swiper-pagination-bullet-active {
    background-color: #F87060 !important;
}

header.scrolled {
    transition            : ease-in .2s;
    /* background-color   : #26d7c4; */
    --tw-shadow           : 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored   : 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow            : var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#equipo .grid a:nth-child(1) img {
    background-color: #8f993e;
}

#equipo .grid a:nth-child(2) img {
    background-color: #c2ded1;
}

#equipo .grid a:nth-child(3) img {
    background-color: #b12028;
}

#equipo .grid a:nth-child(4) img {
    background-color: #202945;
}